        h1   {
                color: rgb(100, 100, 100);
}
        body {
                background-color: #F0EC78;
}
        #nav-table {
                width: 1024px; 
                position: relative;
                up: 10px;
}
        #nav-td {
                width: 256px; text-align: center;
}
        .div-p {
                width: 1024px;
}



