        h1   {
                color: #FFFFFF0;
                font-family: fantasy;
}
        body {
                background-color: #F0EC78;
}
        #nav-table {
                width: 1024px; 
                position: relative;
                up: 50px;
}
        #nav-td {
                width: 256px; text-align: center;
}
        .div-p {
                width: 1024px;
}



